body {
    padding: 0%;
    margin: 0;
    background-color: #fafafa;
    font-family: Arial, sans-serif;
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    height: 100vh;
}

.small-break {
    margin-top:20px;
    margin-bottom: 20px;
  }

.anbox {
    width: 350px;
    padding: 10px;
    text-align: center;
    border-radius: 1px;
    border-color: #a6a6a6;
    border-width: 0.5px;
    border-style: solid;
    background: rgb(255, 255, 255);
    margin-left: 60px;
    margin-top: 0px;
}

.title-box {
    width: 500px;
}

.title-box img{
    width: 415px;
    margin-right: -90px;
    /* margin-left: -26px;
    margin-bottom: -10px; */
}

.title-box p{
    color: black;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
    margin-top: 5px;
}

.form-box{
    width: 350px;
    padding: 10px;
    text-align: center;
    border-radius: 1px;
    border: 0.5px solid #a6a6a6;
    /* border-color: #a6a6a6;
    border-width: 0.5px;
    border-style: solid; */
    background: rgb(255, 255, 255);
    margin-left: 60px;
}

::placeholder {
    font-size: 13px;
  }

.form-box img{
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-box .in input{
    width: 80%;
    /* height: 30%; */
    margin-bottom: 8px;
    padding: 7px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #eeebeb;
    border-radius: 1px;
    outline: none;
}

.form-box .in input:focus {
    box-shadow: 0px 0px 0.5px 0.5px rgb(0,0,0);
}

.form-box .in button {
    width: 80%;
    margin-bottom: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px;
    border: none;
    padding: 6px 0;
    cursor: pointer;
    background-color: #58b2ef;
}

.form-box .in button:hover {
    background: #29adeb
}

.form-box a{
    color: #166fe5;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;

}

/* .form-box a:hover{
    text-decoration: underline;
} */


.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    margin-top: 6px;
}

.separator .line {
    height: 1px;
    width: 40%;
    background-color: #dbdbdb;
}


.other {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fb-login-btn {
    /* height: 20px;
    width: 30px; */
    margin: 1rem;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    color: #385185;
    font-weight: 600;
    background: transparent;
}



.fb-icon {
    color: #385185;
    font-size: 1rem;
    padding-right: 1px;
}

.forgot-password {
    font-size: 11px;
    color: rgb(0,0,0);
}
  
.signup {
    font-weight: 600;
    color: #166fe5;
    text-decoration: none;
}

.text a, .text a:visited, .text a:hover, .text a:active {
    color:#3897f0;
    margin-left:3px;
  }
  
  /* App Store */
  .app p {
    padding: 5px;
    line-height: 18px;
    color:#262626;
    font-size:14px;
    text-align:center;
    margin:10px 20px;
    margin-left:92px;
  }
  
  .app-img {
    flex-direction: row;
    justify-content: center;
    margin:10px 0;
    margin-left: 93px;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
  }
  
  /* .app-img a {
    margin-right:8px;
    height: 43.5px;
  } */
  
  .app-img img {
    height:45px;
  }




/* .form-box .create-btn a{
    color:#fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #36a420;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;

}


.form-box .create-btn a:hover{
    background: #42b72a;
} */

/* .form-box-oth p{
    width: 350px;
    padding: 15px;
    text-align: right;
} */
